.menuWrap {
    display: flex;
}

.menu {
    margin-bottom: 0;
}

.menu li {
    display: inline-block;
    margin-right: 5px;
    padding-left: 10px;
}

.menu a {
    color: rgba(255,255,255,.5);
}

.menu a:hover {
    color: rgba(255,255,255,.75);
}

